/*/
/software/*/
/software/palemoon/*
/software/palemoon/defaults/*
/software/palemoon/defaults/pref/*
/software/palemoon/profile/*
/software/palemoon/profile/chrome/*

!/software/
!/software/palemoon/
!/software/palemoon/defaults/
!/software/palemoon/defaults/pref/
!/software/palemoon/defaults/pref/local-settings.js
!/software/palemoon/flashpoint.cfg
!/software/palemoon/profile/
!/software/palemoon/profile/chrome/
!/software/palemoon/profile/chrome/userChrome.css
!/software/server/
